## Testing the given "test" data by importing in a new notebook with a loaded pipeline in Pickle serialization dump .

In [58]:
import numpy as np
import pandas as pd

In [59]:
dt= pd.read_csv("test.csv")

In [60]:
dt.head()

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,2014-08-29 11:32:22,39,Male,United Kingdom,NaN,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,Yes,These result may be a tad confusing so a summa...
1,2,2014-08-29 11:32:44,26,female,United States,WA,No,Yes,Sometimes,More than 1000,...,Don't know,No,No,Some of them,Yes,No,Maybe,No,Yes,I should note one of the places my employer fa...
2,3,2014-08-29 11:33:54,23,Female,United States,IL,No,Yes,Sometimes,26-100,...,Somewhat difficult,Yes,No,No,Some of them,No,Maybe,No,No,NaN
3,4,2014-08-29 11:34:07,35,Male,Switzerland,NaN,No,Yes,Often,More than 1000,...,Very easy,No,No,Some of them,Some of them,No,Maybe,No,No,NaN
4,5,2014-08-29 11:36:38,36,Male,United States,FL,No,No,Never,1-5,...,Very easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN

In [61]:
dt.columns

Index(['S.No', 'Timestamp', 'Age', 'Gender', 'Country', 'state',
       'self_employed', 'family_history', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [62]:
 dt['Age'].value_counts()

 32    18
 25    13
 34    13
 26    12
 28    12
 29    12
 23    10
 27    10
 31    10
 38     9
 24     8
 33     7
 30     7
 40     7
 39     7
 37     7
 35     6
 36     6
 43     5
 41     5
 46     5
 44     3
 45     3
 42     3
 20     2
 22     1
 21     1
 11     1
 72     1
 60     1
 48     1
 50     1
 51     1
 56     1
-1      1
Name: Age, dtype: int64

In [63]:
dt.isna().sum()

S.No                           0
Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        103
self_employed                  0
family_history                 0
work_interfere                28
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     178
dtype: int64

In [64]:
dt.Gender.unique()

array(['Male', 'female', 'Female', 'M', 'male', 'Male ', 'm', 'p', 'F',
       'Woman', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means', 'f'],
      dtype=object)

In [65]:
dt['Gender']=dt['Gender'].replace(['Male', 'female', 'Female', 'M', 'male', 'Male ', 'm', 'p', 'F',
       'Woman', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means', 'f'],
    ['male','female','female','male','male','male','male','transgender','female','female','female','transgender','transgender',
    'female'],inplace=False)

In [66]:
dt.Gender.unique()

array(['male', 'female', 'transgender'], dtype=object)

In [67]:
dt.head()

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,2014-08-29 11:32:22,39,male,United Kingdom,NaN,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,Yes,These result may be a tad confusing so a summa...
1,2,2014-08-29 11:32:44,26,female,United States,WA,No,Yes,Sometimes,More than 1000,...,Don't know,No,No,Some of them,Yes,No,Maybe,No,Yes,I should note one of the places my employer fa...
2,3,2014-08-29 11:33:54,23,female,United States,IL,No,Yes,Sometimes,26-100,...,Somewhat difficult,Yes,No,No,Some of them,No,Maybe,No,No,NaN
3,4,2014-08-29 11:34:07,35,male,Switzerland,NaN,No,Yes,Often,More than 1000,...,Very easy,No,No,Some of them,Some of them,No,Maybe,No,No,NaN
4,5,2014-08-29 11:36:38,36,male,United States,FL,No,No,Never,1-5,...,Very easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN

In [68]:
age_mode=dt['Age'].mode()
age_mode

0    32
dtype: int64

In [69]:
dt['Age']=dt['Age'].replace([-1],[32],inplace=False)

In [70]:
 dt['Age'].value_counts()

32    19
34    13
25    13
26    12
28    12
29    12
27    10
23    10
31    10
38     9
24     8
30     7
33     7
37     7
39     7
40     7
36     6
35     6
41     5
43     5
46     5
42     3
44     3
45     3
20     2
22     1
21     1
72     1
60     1
48     1
50     1
51     1
56     1
11     1
Name: Age, dtype: int64

In [71]:
dt['work_interfere'].value_counts()

Sometimes    79
Often        39
Never        35
Rarely       29
Name: work_interfere, dtype: int64

In [72]:
dt['work_interfere']=dt['work_interfere'].fillna(value='Nan',inplace=False)

In [73]:
dt['work_interfere'].unique()

array(['Sometimes', 'Often', 'Never', 'Rarely', 'Nan'], dtype=object)

In [74]:
dt['work_interfere'].value_counts()

Sometimes    79
Often        39
Never        35
Rarely       29
Nan          28
Name: work_interfere, dtype: int64

In [75]:
dt.head()

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,2014-08-29 11:32:22,39,male,United Kingdom,NaN,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,Yes,These result may be a tad confusing so a summa...
1,2,2014-08-29 11:32:44,26,female,United States,WA,No,Yes,Sometimes,More than 1000,...,Don't know,No,No,Some of them,Yes,No,Maybe,No,Yes,I should note one of the places my employer fa...
2,3,2014-08-29 11:33:54,23,female,United States,IL,No,Yes,Sometimes,26-100,...,Somewhat difficult,Yes,No,No,Some of them,No,Maybe,No,No,NaN
3,4,2014-08-29 11:34:07,35,male,Switzerland,NaN,No,Yes,Often,More than 1000,...,Very easy,No,No,Some of them,Some of them,No,Maybe,No,No,NaN
4,5,2014-08-29 11:36:38,36,male,United States,FL,No,No,Never,1-5,...,Very easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN

In [76]:
dt.drop(['S.No','self_employed','Country','Timestamp','no_employees','state','comments'],inplace=True,axis=1)

In [77]:
dt.shape

(210, 20)

In [78]:
dt= pd.get_dummies(dt, drop_first=True)

dt.head()
dt.shape

(210, 39)

In [79]:
import pickle

In [80]:
model=open("skillenza.pickle","rb")

In [81]:
employee_model=pickle.load(model)

In [82]:
employee_model.predict(dt)

array([1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1])

In [83]:
pred=employee_model.predict(dt)

In [84]:
dt['treatment']=pred

In [85]:
dt.head()

,Age,Gender_male,Gender_transgender,family_history_Yes,work_interfere_Never,work_interfere_Often,work_interfere_Rarely,work_interfere_Sometimes,remote_work_Yes,tech_company_Yes,...,supervisor_Some of them,supervisor_Yes,mental_health_interview_No,mental_health_interview_Yes,phys_health_interview_No,phys_health_interview_Yes,mental_vs_physical_No,mental_vs_physical_Yes,obs_consequence_Yes,treatment
0,39,1,0,1,0,0,0,1,1,1,...,0,1,1,0,0,0,0,1,1,1
1,26,0,0,1,0,0,0,1,0,1,...,0,1,1,0,0,0,1,0,1,1
2,23,0,0,1,0,0,0,1,0,0,...,1,0,1,0,0,0,1,0,0,1
3,35,1,0,1,0,1,0,0,0,1,...,1,0,1,0,0,0,1,0,0,1
4,36,1,0,0,1,0,0,0,1,1,...,1,0,1,0,1,0,0,0,0,0

In [86]:
dt.to_excel('submission file.xlsx',sheet_name='Submissionnew')